





// ============================ Подключение шрифтов ================================================== 
//&display=swap - добавить при подключении через плагин
//&subset=cyrillic-ext - добавить при подключении через плагин (необязательно)

// @import 
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap');


// =================================================================================================== 


// ======================================== Переменные =============================================== 

// -------------- Шрифты ----------------
// Семейство шрифта по умолчанию из макета
$fontFamily: "Roboto";

// Размер шрифта по умолчанию из макета
// $fontSize: 16px; 



// -------------- Цвета ----------------

$colorGrey: #4B4B4B; 

$colorGrey2: #F5F5F5;

$colorBlack: #000;

$colorWhite: #FFF;

$colorRed: #F2726F;

$colorPurple: #5D62B5;






// ----------- Контейнер --------------
// Минимальная ширина страницы
$minWidth: 320px; 

// Ширина полотна (макета)
$maxWidth: 1440px;

// Ширина ограничивающего контейнера из макета, включая отступы безопасности (по 15px слева и справа)
$maxWidthContainer: 1050px;  



// ------------ Брейк-поинты ------------
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: $maxWidthContainer; 

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 991.98px; 

// Телефоны L
$mobile: 767.98px; 

// Телефоны S
$mobileSmall: 479.98px; 

// =================================================================================================== 


// ===================== Подключение базовых стилей, заготовок, миксинов ============================= 

// Обнуляющие стили
@import "base/null";

// Миксины
// @import "base/mixins";

// Общие стили
@import "base/common";

// ===================================================================================================


// ==================== Подключение стилей отдельных страниц и блоков ================================
// /* ---------------------Основные стили-------------------------*/

// Стили header
@import "blocks/header";

// Стили главной страницы
@import "blocks/index";

// Стили footer
@import "blocks/footer";

// ===================================================================================================



// ======================= Подключение файла с медиазапросами =========================================

// Медиазапросы
// @import "_media";

// =================================================================================================== 


